body {
  font-family: 'Scada', sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 1.4em;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
}

.pane-subtitle {
  color: #000;
  font-size: 12px;
  letter-spacing: 0.01rem;
  line-height: 14px;
  white-space: nowrap;
  text-transform: uppercase;
  background: #FFC001;
  border-radius: 2px;
  padding: 6px 8px;
  display: inline-block;
}

.field {
  width: 100%;
}
.label {
  padding-left: 14px;
  color: #767679;
  font-weight: 400;
  letter-spacing: 0.16px;
  margin-bottom: 0;
}
.input {
  border: none;
  padding-left: 14px;
  padding-bottom: 19px;
  border-bottom: 1px solid #e2e2e3;
  background-color: transparent;
  box-shadow: none;
  font-family: Scada;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
}

.input:hover,
.input:focus {
  border-bottom: 1px solid #50e3c2;
  box-shadow: none;
}

.button {
  min-height: 40px;
  color: #000000;
  font-weight: 400;
  letter-spacing: 0.16px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  background-color: #50e3c2;
  font-family: Scada;
}
.textarea {
  width: 100%;
  height: 145px;
  resize: none;
  background-color: rgba(225, 225, 225, 0.5);
  box-shadow: none;
  border: none;
}
.textarea:hover,
.textarea:focus {
  border: 1px solid #50e3c2;
  outline: none;
  box-shadow: none;
}

/*===== INDEX HEADER =====*/

.home-header,
.inner-header {
  background: url(../img/header.jpg) no-repeat center top;
  color: #000;
  max-height: 648px;
  overflow: hidden;
}

/* top_line */
.header__top-line {
  max-width: 1270px;
  margin: auto;
  height: 100px;
}
.header__top-line > .columns {
  align-items: center;
}
.header__logo-link {
  display: block;
  line-height: 0;
  background: url(../img/logo.png) no-repeat 0 0;
  width: 412px;
  height: 100px;
  transition: all .3s ease;
}
@media (max-width: 690px) {
  .header__logo-link {
    width: 150px;
    background-position-x: -30px;
  }
}
.header__phones-item {
  white-space: nowrap;
  margin-left: 28px;
  font-size: 20px;
}
@media (max-width: 690px) {
  .header__phones-item {
    margin-left: 10px;
    font-size: 18px;
  }
}

/* promo */
 .header__promo-main {
   margin-top: 36px;
   margin-left: 58px;
 }
.header__promo {
  max-width: 1270px;
  margin: auto;
}
.header__promo-advs {
  line-height: 0;
  max-width: 412px;
}
.popular-slider {
  position: relative;
}
.popular-slider__dots {
  position: absolute;
  bottom: 30px;
  right: 23px;
}
.popular-slider__dots li {
  display: inline-block;
  margin-right: 3px;
}
.popular-slider__dots li:last-child {
  margin-right: 0;
}
.popular-slider__dots li button {
  display: block;
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: #767679;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 0;
}
.popular-slider__dots li button:focus {
  outline: none;
}
.popular-slider__dots li.slick-active button {
  background-color: #000;
}
.header__promo-h1 {
  font-size: 74px;
  font-weight: bold;
  color: #000;
  line-height: 1.16em;
  margin-bottom: 36px;
}
.inner-header .header__promo-h1 {
  margin-bottom: 24px;
  font-size: 46px;
  font-weight: 700;
  line-height: 54px;
}
.header__benefits {
  display: flex;
  margin-bottom: 30px;
}
.header__benefits li {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: #000;
  padding-right: 60px;
}
.header__benefits li:last-child {
  padding-right: 0;
}
.header__benefits-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2em;
  display: block;
}
.header__action {
  width: 314px;
}
.header__action-button {
  border: 1px solid #FFC001;
  border-radius: 4px;
  background: transparent;
  font-size: 16px;
  color: #000;
  letter-spacing: 0.01em;
  line-height: 1.25em;
  padding: 10px 80px;
  display: inline-block;
  transition: all .3s ease;
}
.header__action-button:hover {
  background-color: #FFC001;
}
.header__action-info {
  color: #fff;
  text-decoration: underline;
  letter-spacing: 0.01em;
  line-height: 1.25em;
  font-size: 12px;
  display: block;
  text-align: center;
  margin-top: 15px;
  transition: all .3s ease;
}
.header__action-info:hover {
  text-decoration: none;
}
.header__vert-wrapper {
  background: rgba(0,0,0,.8);
  width: 80px;

}
.header__vert {
  transform: rotate(90deg);
  transform-origin: top left;
  width: 400px;
  margin-left: 56px;
  margin-top: 56px;
  text-align: right;
}
.inner-header .header__vert {
  width: 227px;
  margin-top: 0;
}
.header__vert li {
  display: inline-block;
  vertical-align: middle;
}
.header__vert-social, .header__vert-call, .header__vert-button {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin-right: 23px;
}
.header__vert-button {
  font-size: 20px;
  display: block;
}
.header__vert-button:hover {
  color: #FFC001;
}
.header__vert-call {
  color: #FFC001;
  border-left: 1px solid #fff;
  padding-left: 23px;
}
.header__vert-social:hover {
  text-decoration: underline;
  color: #fff;
}
.header__vert-call:hover {
  text-decoration: underline;
  color: #FFC001;
}

@media (max-width: 992px) {
  .home-header,
  .inner-header {
    max-height: inherit;
  }
  .header__promo {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .header__promo-wrap {
    width: 100%;
    order: 3;
    flex: 1 0 100%;
  }
  .header__promo-advs {
    display: flex;
    max-width: inherit;
  }
  .instalment {
    display: none;
  }

  .popular-slider {
    display:none;
  }

  .popular-slider img {
    width: 100%;
  }

  .inner-header .instalment {
    width: 100%;
    display: block;
  }
  .inner-header .instalment img {
    width: 100%;
  }

  .header__vert {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .header__promo-main {
    margin-left: 8px;
  }
  .header__promo-h1 {
    margin-left: 16px;
    font-size: 2.2em;
  }
  .header__benefits li {
    padding-right: 16px;
  }
  .header__vert-wrapper {
    width: 100%;
  }
  .header__vert {
    margin-top: 8px;
    transform: rotate(0deg);
    margin-left: 8px;
    width: auto;
    text-align: center;
    height: 44px;
  }
  .header__vert-social, .header__vert-call {
    margin-right: 16px;
  }
  .popular-slider {
    display: none;
  }
  .inner-header .header__vert {
    margin-top: 8px;
    margin-left: 0;
    width: 100%;
  }
}


/* menu */
.navbar-wrapper {
  background: linear-gradient(#2A2B2F, #18191B);
}
.navbar {
  max-width: 1270px;
  margin: auto;
  background: transparent;
  min-height: 70px;
}
.phone__order {
  background: #FFC001;
  height: 70px;
  width: 82px;
}
.phone__order .fa-phone-volume {
  color: #000;
  font-size: 32px;
  display: block;
  margin: auto;
  line-height: 50px;
  margin-top: 20px;
}
.navbar-item {
  position: relative;
}
.navbar-burger {
  color: #fff;
}
.navbar-burger:hover,
.navbar-burger:active {
  color: #50e3c2;
}

@media screen and (min-width: 1088px) {
  .navbar-item,
  .navbar-link {
    color: #fff;
    font-size: 20px;
    padding-left: 18px;
    padding-right: 18px;
  }
  a.navbar-item:hover,
  a.navbar-link:hover,
  a.navbar-item:active,
  a.navbar-link:active,
  a.navbar-item.is-active,
  a.navbar-link.is-active,
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link {
    color: #50e3c2;
    background-color: transparent;
  }
  .navbar-item:hover::after,
  .navbar-item:active::after,
  .navbar-item.is-active::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    bottom: 11px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #50e3c2;
    border-radius: 50%;
  }
  .navbar-dropdown .navbar-item:hover::after,
  .navbar-dropdown .navbar-item:active::after,
  .navbar-dropdown .navbar-item.is-active::after {
    display: none;
  }
  .navbar-dropdown .navbar-item {
    color: #000;
  }
  .navbar-link::after {
    display: none;
  }
  .navbar-item.is-active .navbar-dropdown.is-boxed {
    display: none;
  }
  .navbar-item:hover .navbar-dropdown.is-boxed {
    display: block;
  }
}
@media screen and (max-width: 1087px) {
  .phone__order {
    margin-left: 12px;
    display: block;
    text-align: center;
    padding-top: 3px;
  }
}
/*top-section*/
.top-section {
  background: linear-gradient(to right, #eff1f3 50%, #ffffff 50%);
}

/*about*/
.about {
  max-width: 1270px;
  margin: 0 auto;
}
.about__items {
  max-width: 412px;
}
.about__item {
  display: block;
  padding: 117px 23px 24px 27px;
  text-decoration: none;
  color: #fff;
  background-color: #877d7b;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.about__item:hover,
.about__item:active {
  color: #50e3c2;
}
.about__item--stairs {
  background-image: url('../img/about-01.jpg')
}
.about__item--fences {
  background-image: url('../img/about-02.jpg')
}
.about__item-title {
  margin: 0;
  margin-bottom: 50px;
  position: relative;
  padding-left: 20px;
  font-size: 38px;
  line-height: 41px;
  font-weight: 700;
  border-left: 5px solid #fff;
}
.about__item-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #50e3c2 60%, #767679 60%);
}
.about__item-desc {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.22px;
}
.about__desc {
  background-color: #fff;
  padding: 40px 65px 0;
}
.about__desc p {
  margin-bottom: 30px;
}
.about__guarantees {
  width: 80px;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 536px;
}
.about__guarantees-text {
  margin-top: 50px;
  margin-left: 56px;
  width: 375px;
  color: #50e3c2;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.16px;
  transform: rotate(90deg);
  transform-origin: top left;
}

@media (max-width: 992px) {
  .about {
    flex-wrap: wrap;
  }
  .about__items {
    order: 3;
    flex: 1 0 100%;
    display: flex;
    max-width: inherit;
    width: 50%;
  }
  .about__item {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .about__guarantees {
    width: 100%;
    min-height: 52px;
  }
  .about__guarantees-text {
    transform: rotate(0deg);
    text-align: center;
    margin-left: 0;
    margin-top: 12px;
    width: 100%;
  }
  .about__items {
    flex-wrap: wrap;
  }
  .about__item {
    width: 100%;
  }

  .about__desc {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*calc*/

.calc {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.calc .calc__form-wrapper {
  max-width: 1270px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  padding: 0;
  background-color: #eff1f3;
  background-image: url('../img/projects.jpg');
  background-repeat: no-repeat;
  background-position: left top;
}
.calc__projects {
  width: 82px;
  background-color: #ffc001;;
}
.calc__projects-link {
  display: block;
  width: 236px;
  margin-top: 311px;
  margin-left: 30px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.18px;
  transform: rotate(270deg);
  transform-origin: top left;
}
.calc__projects-link:hover,
.calc__projects-link:active {
  text-decoration: underline;
}
.calc__form {
  width: 480px;
  margin-left: auto;
  margin-right: 322px;
  padding-top: 42px;
  padding-bottom: 20px;
}
.calc__form-title {
  margin-bottom: 17px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
}
.calc__form-field {
  width: 317px;
}
.calc__form .button  {
  margin-top: 15px;
  width: 316px;
}
.calc__form-note {
  width: 316px;
  margin-top: 10px;
  color: #767679;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  text-align: center;
}
.calc__img-wrapper {
  position: absolute;
  width: 33.75%;
  height: 450px;
  right: 0;
  bottom: -8px;
  background-image: url("../img/index-photo.jpg");
  background-repeat: no-repeat;
}

@media (max-width: 1270px) {
  .calc__form-wrapper {
    width: 100%;
  }
  .calc__form {
    margin-right: 0;
  }
  .calc__img-wrapper {
    display: none;
  }
}

@media (max-width: 992px) {
  .calc .calc__form-wrapper {
    background-image: none;
  }
  .calc__form {
    width: auto;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .calc__form-wrapper {
    flex-wrap: wrap;
  }
  .calc__projects {
    width: 100%;
    min-height: 80px;
  }
  .calc__projects-link {
    width: 100%;
    transform: rotate(0deg);
    text-align: center;
    margin-top: 30px;
    margin-left: 0;
  }
}

/*benefits*/

.bottom-section {
  max-width: 1920px;
  margin: 0 auto;
  z-index: 100;
  overflow: hidden;
}
.benefits {
  position: relative;
  max-width: 1594px;
  margin: 0;
  margin-left: auto;
  background-image: url(../img/bg-btm.png);
  background-color: #eff1f3;
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
}
.benefits__wrapper {
  padding-top: 65px;
  padding-bottom: 260px;
}
.benefits__wrapper--we {
  width: 800px;
  background-color: rgba(127, 215, 195, 0.6);
/*  padding-left: 460px;
*/}
.benefits__wrapper--others {
}
.benefits__title {
  margin-bottom: 47px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
}
.benefits__wrapper--we .benefits__title {
  width: 390px;
  margin-left: auto;
  padding-left: 48px;
}
.benefits__list {
  width: 390px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
.benefits__wrapper--we .benefits__list{
  margin-left: auto;
  padding-left: 48px;
}
.benefits__wrapper--others .benefits__list,
.benefits__wrapper--others .benefits__title {
  padding-left: 70px;
}
.benefits__item {
  margin-bottom: 30px;
}
.benefits__item:last-child {
  margin-bottom: 0;
}
.benefits__item  .icon {
  display: inline-block;
  margin-right: 15px;
  width: 58px;
  height: 58px;
  border-radius: 4px;
  font-family: "Font Awesome 5 Free";
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  padding-top: 11px;
}
.benefits__wrapper--we .icon {
  background-color: #ffffff;
  color: #50e3c2;
}
.benefits__wrapper--others .icon {
  background-color: #eff1f3;
  color: #707070;
}
.benefits__text {
  display: inline-block;
  vertical-align: middle;
  width: 210px;
}
.review {
  position: absolute;
  width: 733px;
  top: 0;
  left: -321px;
  background-image: url("../img/review.jpg");
  background-repeat: no-repeat;
}
.review__content {
  width: 412px;
  margin-left: auto;
  background-color: rgba(233, 177, 6, 0.9);
  padding: 65px 35px 65px;
}
.review::before {
  content: "";
  position: absolute;
  top: 180px;
  right: 0;
  width: 186px;
  height: 5px;
  background-image: linear-gradient(to right, #000 41px, #fff 42px);
}
.review__title {
  margin-bottom: 47px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
}
.review__play {
  display: block;
  margin-bottom: 45px;
  width: 88px;
  height: 88px;
  background-image: url(../img/icons/paly.png);
  background-repeat: no-repeat;
}
.review__desc-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.review__desc p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
@media (max-width: 1270px) {
  .benefits {
    flex-wrap: wrap;
    background: none;
  }
  .benefits__wrapper {
    width: 50%;
  }
  .benefits__wrapper--others {
    background-image: url("../img/bg-btm.png");
    background-repeat: no-repeat;
    background-position: top right;
  }
  .review {
    width: 100%;
    position: static;
    background-size: cover;
  }
  .review__content {
    width: 50%;
    background-color: rgba(233, 177, 6, 1);
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .benefits__wrapper {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .benefits__wrapper .benefits__list {
    width: 100%;
    padding-left: 10px;
  }
  .benefits__wrapper .benefits__title {
    width: 100%;
    margin-left: 0;
    padding-left: 10px;
  }
}
@media (max-width: 600px) {
  .benefits__wrapper {
    width: 100%;
  }
  .review__content {
    width: 100%;
  }
}
/*map*/
.map {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: -180px;
  z-index: 1000;
}
.map__wrap  {
  height: 420px;
  max-width: 83%;
  margin-right: auto;
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .map {
    margin-top: 0;
  }
  .map__wrap {
    max-width: 100%;
    margin-right: 0;
  }
}

/*footer*/

.footer {
  margin-top: -240px;
  padding: 0;
  background-color: transparent;
}
.foooter__content-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}
.footer__menu-wrapper {
  flex-basis: 737px;
  padding-top: 285px;
  padding-bottom: 80px;
  background-color: #ffc001;
}
.footer__menu {
  max-width: 414px;
  margin-left: auto;
  padding-left: 33px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.footer__menu-link  {
  color: #000;
}
.footer__contacts-wrapper {
  padding: 285px 28px 80px 10px;
  background-color: #eff1f3;
  flex-basis: 1100px;
  flex-grow: 1;
}
.footer__contacts {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.foter__phones-item {
  color: #000;
  white-space: nowrap;
}
.footer__email {
  color: #000;
}
.foter__phones-item:hover,
.footer__email:hover {
  color: #707070;
}
.footer__contacts p {
  margin-bottom: 20px;
}
.footer__copyright-text {
  width: 186px;
  margin-top: 290px;
  margin-left: 70px;
  transform: rotate(90deg);
  transform-origin: top left;
  color: #50e3c2;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
}
.footer__copyright {
  width: 85px;
  background-color: #000;
}

@media (max-width: 1065px) {
  .footer__contacts p {
    width: 310px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-top: 0;
  }
  .footer__menu-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__menu {
    width: 100%;
    margin-left: 0;
  }
  .footer__contacts-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__contacts p {
    width: 100%;
  }
  .footer__copyright {
    width: 100%;
  }
  .footer__copyright-text {
    margin-top: 0px;
    transform: rotate(0deg);
  }
}

/* footer-inner*/
.footer--inner {
  margin-top: 0;
}
.footer--inner .footer__menu-wrapper,
.footer--inner .footer__contacts-wrapper {
  padding-top: 50px;
}
.footer--inner .footer__copyright-text {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .footer--inner .footer__copyright-text {
    margin-top: 0;
  }
}
/*CATALOG*/

.page-content {
  max-width: 1920px;
  margin: 0 auto;
}
.content-wrapper {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 10px;
}

/*breadcrumb*/
.breadcrumb {
  position: relative;
  padding: 24px 30px;
  border: 1px solid #ffc001;
  border-top: none;
  background-color: #fff;
  z-index: 10;
}
.breadcrumb a {
  color: #000;
  padding: 0 0.4em;
}
.breadcrumb li.is-active a {
  color: #767679;
}
.breadcrumb a:hover,
.breadcrumb a:active {
  color: #767679;
}
 
 /*page-title*/
 .page-title {
  margin-top: 42px;
  margin-bottom: 52px;
  padding-left: 20px;
  border-left: 5px solid #ffc001;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.38px;
 }

 /*catalog*/
.catalog {
  margin-top: -100px;
  padding-bottom: 65px;
}
.catalog__items {
  flex-wrap: wrap;
}
.catalog__item {
/*  min-width: 374px;
*/}
.catalog .catalog__item:first-child {
  padding-top: 110px;
}
 .catalog__img {
  margin-bottom: 36px;
 }
 .catalog-nav .pane-subtitle {
  margin-bottom: 25px;
 }
 .catalog-nav__list {
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
 }
.catalog-nav__item {
  margin-bottom: 20px;
}
.catalog-nav__item a {
  color: #000;
}
.catalog-nav__item:hover a,
.catalog-nav__item.is-active a {
  color: #767679;
}
.catlog-nav__sub-nav > a{
  color: #767679;
  text-transform: uppercase;
  font-size: 16px;
}
.catalog-nav__sub-list{
  margin-left: 20px;
} 
.catalog__promo {
  max-width: 345px;
  position: relative;
  margin-bottom: 48px;
  padding-top: 25px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.22px;
}
.catalog__promo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to right, #50e3c2 62.6%, #767679 62.6%);
}

@media (max-width: 1200px) {
  .catalog {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .catalog__item {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
}

/*promo-block*/
.promo-block {
  max-width: 1594px;
  margin-left: auto;
  background-color: #eff1f3;
}
.promo-block__content {
  max-width: 1270px;
  margin-right: auto;
  margin-left: 0;
  background-image: url("../img/projects.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
}
.promo-block__vert {
  width: 82px;
  background-color: #ffc001;
}
.promo-block__vert-text {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.18px;
  transform: rotate(270deg);
  transform-origin: top left;
  width: 173px;
  margin-top: 279px;
  margin-left: 30px;
}
.promo-block__text {
  max-width: 776px;
  margin-left: auto;
  padding: 48px 5px 40px;
}
.promo-block__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
}
.promo-block__text p{
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}
.promo-block--contacts .promo-block__vert-text {
  width: 198px;
}

@media (max-width: 1214px) {
  .promo-block__content {
    background-image: none;
  }
  .promo-block__text {
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .promo-block__vert {
    width: 100%;
    min-height: 82px;
    padding-top: 30px;
  }
  .promo-block__vert-text {
    transform: rotate(0deg);
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 0;
  }
}
/*article*/

.article {
  padding: 65px 0;
}
.article h2 {
  margin-bottom: 10px;
  padding: 0 32px;
}
.article p {
  margin-bottom: 25px;
  padding: 0 32px;
}
.article--contacts {
  padding-bottom: 244px;
}
@media (max-width: 768px) {
  .article--contacts {
    padding-bottom: 65px;
  }
}  

/*SUBCATALOG*/
.subcatalog {
  max-width: 1920px;
}
.subcatalog__wrapper {
  margin: 0;
  align-items: flex-start;
}
.subcatalog__sidebar {
  margin: 0;
  width: 33.28%;
  min-width: 254px;
  margin-top: -78px;
  padding-top: 113px;
  padding-bottom: 90px;
  padding-left: 0;
  padding-right: 0;
  background-color: #eff1f3;
}
.subcatalog__sidebar-vert{
  padding: 0;
  width: 281px;
  margin-left: auto;
  overflow: hidden;
}
.subcatalog__sidebar-title {
  color: #fff;
  font-size: 226px;
  font-weight: 700;
  margin-top: 848px;
  margin-left: 90px;
  letter-spacing: 2.26px;
  transform: rotate(270deg);
  transform-origin: top left;
}
.subcatalog__nav {
  width: 322px;
  flex-shrink: 0;
}
.subcatalog__nav  .catalog-nav__list {
  font-size: 20px;
  line-height: 25px;
}
.subcatalog__content {
  margin: 0;
  padding: 0;
}
.subcatalog__content .page-title {
  margin-left: 26px;
}
.subcatalog__items-wrapper {
  padding: 0 12px;
  padding-left: 38px;
  min-width: 955px;
  max-width: 955px;
}
.subcatalog__items {
  margin-top: 0;
  margin-left: -24px;
}

.card {
  width: 286px;
  margin: 0 12px;
  border: none;
  box-shadow: none;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}
.card__header {
  position: relative;
  min-height: 187px;
}
.card__link {
  color: #000;
}
.card__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.card__img img {
  width: 100%;
}

.card__title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 23px 54px 13px;
  background-color: rgba(0, 0, 0, 0.6);
}
.card__title {
  position: relative;
  margin-top: auto;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.26px;
}
.card__title::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(to right, #50e3c2 21.6%, #fff 21.6%);
}
.card__content {
  margin-top: auto;
  padding: 16px 5px 16px 14px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 24px;
}
.product-features {
  width: 100%;
  padding: 65px 10px 65px 124px;
  background-color: rgba(255, 192, 1, 0.6);
}
.product-features__title {
  margin-bottom: 50px;
  max-width: 415px;
}
.product-features__list {
  max-width: 415px;
}
.product-features__item {
  display: flex;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 400;
}
.product-features__item:last-child {
  margin-bottom: 0;
}
.product-features__item span {
  display: inline-block;
}
.product-features__text {
  max-width: 359px;
  margin-left: 15px;
}
.product-features__item .icon {
  width: 58px;
  height: 58px;
}
.product-features__item .fa-check-square {
  color: #fff;
  font-size: 65px;
}

@media (max-width: 1594px) {
.subcatalog__sidebar-vert {
    display: none;
  }
  .subcatalog__sidebar {
    max-width: 20%;
  }
  .subcatalog__nav{
    padding: 0 10px;
    width: 100%;
  }
}

@media (max-width: 1270px) {
  .subcatalog__items-wrapper {
    max-width: 995px;
    min-width: 1px;
  }
  .card {
    width: calc(50% - 24px);
  }
}
@media (max-width: 768px) {
  .subcatalog__wrapper {
    flex-wrap: wrap;
  }
  .subcatalog__sidebar {
    width: 100%;
    max-width: 100%;
    order: 2;
    margin-top: 0;
    padding-top: 50px;
  }
  .subcatalog__items-wrapper {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .card {
    width: calc(100% - 24px);
  }
  .product-features {
    padding-left: 20px;
  }
}

/*CONTACTS*/
.contacts {
  margin-bottom: 45px;
}
.contacts .columns {
  margin: 0;
}
.contacts__info {
  flex-basis: 520px;
  margin-right: 24px;
}
.contacts__address {
  margin-top: 15px;
  padding-right: 15px;
}
.contacts__address p {
  margin-bottom: 10px;
}
.contacts__form {
  flex-basis: 725px;
  padding-right: 0;
  padding-left: 0;
}
.contact-form {
  width: 100%;
  background-color: #eff1f3;
  padding: 48px 35px;
}
.contact-form__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
  margin-bottom: 15px;
}
.contact-form__row .field{
  max-width: 287px;
  margin-bottom: 0;
  margin-right: 89px;
}
.contact-form__row .field:last-child {
  margin-right: 0;
}
.contact-form__button {
  width: 314px;
}
.contact-form__note {
  width: 316px;
  margin-top: 10px;
  color: #767679;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  text-align: center;
}
@media (max-width: 992px) {
  .contact-form__row {
    flex-wrap: wrap;
  }
 .contact-form__row .field {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
 }
}
@media (max-width: 768px) {
  .contacts__info {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 500px) {
  .contact-form__note {
    width: 100%;
  }
  .contact-form__button {
    width: 100%;
  }
}
/*catalog-item*/
.catalog-item {
  padding: 0 12px;
  padding-left: 24px;
  min-width: 955px;
  max-width: 955px;
}
.catalog-item__card {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
}
.catalog-item__gallery {
  min-width: 516px;
  padding-top: 41px;
  position:relative;
  z-index: 10;
}
.catalog-item__thumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.catalog-item__thumb {
  flex-basis: 25%;
  margin-bottom: 20px;
  padding: 0 15px;
}
.catalog-item__main-photo {
  margin-bottom: 65px;
}
.catalog-item__desc {
  max-width: 889px;
  margin-left: -475px;
  padding-left: 552px;
  padding-right: 28px;
  padding-top: 48px;
  padding-bottom: 41px;
  background-color: #eff1f3;
}
.catalog-item__desc-subtitle {
  margin-bottom: 18px;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.21px;
}
.catalog-item__desc-text {
  margin-bottom: 18px;
  padding: 20px 60px 20px 0px;
  border-top: 1px solid #ffc001;
  border-bottom: 1px solid #ffc001;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.catalog-item__desc-price {
  display:block;
  margin-bottom: 18px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.18px;
  text-transform: uppercase;
}
.catalog-item__desc-price:hover,
.catalog-item__desc-price:active {
  color: #767679;
}
.catalog-item__desc-price .icon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  padding-top: 5px;
  background-color: #e5e5e5;
  border-radius: 50%;
  text-align: center;
}
.catalog-item__desc-price .fa-file-alt {
  font-size: 20px;
}
.catalog-item__button {
  display: block;
  width: 268px;
  padding: 5px 0;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  background-color: #ffc001;
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
}
.catalog-item__button:hover,
.catalog-item__button:active {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
}
.catalog-item__text {
  padding: 22px 0 40px;
}
.catalog-item__text p {
  margin-bottom: 30px;
}
@media(max-width: 1216px) {
  .catalog-item {
    max-width: 995px;
    min-width: 1px;
  }
  .catalog-item__gallery {
    min-width: 320px;
    width: 416px;
  }
  .catalog-item__desc {
    width: 789px;
    max-width: inherit;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 452px;
    margin-left: -375px;
  }
  .catalog-item__desc-subtitle {
    font-size: 18px;
  }
}
@media (max-width: 1140px) {
  .catalog-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .catalog-item__card {
    flex-wrap: wrap;
  }
  .catalog-item__gallery {
    max-width: 516px;
    width: 100%;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .catalog-item__desc {
    max-width: 516px;
    width: 100%;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .catalog-item__thumbs {
    margin: 0;
  }
  .catalog-item__text {
    padding-left: 12px;
    padding-right: 12px;
  } 
}

.catalog-item__complectation {
  display: flex;
}
.catalog-item__complectation-content {
  flex-basis: 0;
  flex-grow: 1;
  padding: 28px 121px 28px 103px;
  background-color: #eff1f3;
}
.catalog-item__complectation-vert {
  width: 85px;
  min-height: 273px;
  background-color: #000;
}
.catalog-item__complectation-vert-text {
  min-width: 273px;
  margin-left: 56px;
  padding-left: 51px;
  transform: rotate(90deg);
  transform-origin: top left;
  color: #50e3c2;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.16px;
}
.catalog-item__complectation-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
  margin-bottom: 25px;
}
.catalog-item__complectation ol {
  counter-reset: myCounter;
  list-style: none;
}
.catalog-item__complectation ol > li::before {
  content: counter( myCounter ) ') ';
  counter-increment: myCounter;
}
@media (max-width: 992px) {
  .catalog-item__complectation-content {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 600px) {
  .catalog-item__complectation {
    flex-wrap: wrap;
  }
  .catalog-item__complectation-content {
    min-width: 100%;
    padding-left: 12px;
    padding-rigth: 12px;
  }
  .catalog-item__complectation-vert-text {
    margin-left: 0;
    margin-top: 30px;
    padding: 0 12px;
    transform: rotate(0deg);
    text-align: center;
  }
  .catalog-item__complectation-vert {
    width: 100%;
    min-height: 85px;
    order: -1;
  }
}
/*projects*/
.projects {
  background-color: #eff1f3;
  padding: 82px 0 68px;
  border: 1px solid #ffc001;
}
.projects .content-wrapper {
  display: flex;
}
.projects__vert {
  width: 50px;
  height: 500px;
  margin-right: 56px;
}
.projects__title {
  width: 500px;
  margin-left: 30px;
  margin-top: -30px;
  padding-left: 20px;
  border-left: 5px solid #ffc001;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.38px;
  transform: rotate(90deg);
  transform-origin: top left;
}
.projects__items {
  flex-basis: 0;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.projects__item {
  flex-basis: 33.33%;
  max-width: 372px;
  padding: 0 5px;
  position: relative;
  margin-bottom: 16px;
  overflow: hidden;
}
.projects__img-wrapper {
  width: 100%;
  overflow: hidden;
}
.projects__img-wrapper img {
  width: 100%;
  display: block;
}
.projects__title-wrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 30px;
}
.projects__item-title {
  position: relative;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #fff;
}
.projects__item-title::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 30px;
  width: 186px;
  height: 5px;
  background-image: linear-gradient(to right, #50e3c2 22%, #767679 22%);
}
.projects__link {
  display: block;
  width: 100%;
  height: 100%;
}
.projects__link:hover .projects__item-title,
.projects__link:hover .projects__item-title {
  color: #50e3c2;
}
.projects__more-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 65px;
  background-color: #ffc001;
}
.projects__more {
  position: relative;
  padding: 0 30px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #000;
}
.projects__more::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 30px;
  width: 186px;
  height: 5px;
  background-image: linear-gradient(to right, #000 22%, #fff 22%);
}
.projects__link:hover .projects__more,
.projects__link:hover .projects__more {
  color: #fff;
}
@media(max-width: 1200px) {
  .projects .content-wrapper {
    flex-wrap: wrap;
  }
  .projects__vert {
    width: 100%;
    min-height: 30px;
    height: auto;
    margin-bottom: 40px;
  }
  .projects__title {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    transform: rotate(0deg);
  }
}
@media(max-width: 768px) {
  .projects__item {
    flex-basis: 50%
  }
}
@media(max-width: 600px) {
  .projects__items {
    justify-content: center;
  }
  .projects__item {
    flex-basis: 100%
  }
} 